:root {
  --primary-color: #fb2e86;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #0D0E43;
  --border-color: #e7e6ef;
  --star-gold-color: #FFCE3D;

  --header-bar-height: 44px
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.mr-10{
  margin-right: 10px;
}
.ml-4{
  margin-left: 4px;
}
